.SignUp{
    background-image: url("images/medical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    height: 100vh;
    padding: 4% 0% 0% 6%;
    background-color: rgba(255, 0, 0, 0.5);
    
    
}

.box{
    box-shadow: 3px 1px 5px rgb(208, 34, 43);
    border-radius: 10px;
    opacity: 0.8;
}
#hea{
    font-weight: 700;
}
.box:hover{
    opacity: 1;
}

#lag{
    text-decoration: none;
    color: black;
    
}

#lag:hover{
    color: rgb(197, 33, 33);
}

#in{
    font-size: 18px;
    transform: translate(79px,-35px);
    color: rgb(230, 87, 10);
    font-weight: 600;
    
}

#in:hover{
    color:rgb(43, 43, 162)
}

#lie{
    transform: translate(-60px,-10px);
}
.TextField-error {
    animation: shake 0.4s ease-in-out;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  
  .button:hover {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.logi{
    background-image: url("images/young.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    height: 100vh;
    padding: 2% 0% 0% 0%;
}

#bo{
    box-shadow: 3px 1px 5px rgb(208, 34, 43);
    border-radius: 10px;
}
 
#lol{
    transform: translate(-60px,-10px);
}

#hol{
    font-size: 18px;
    transform: translate(65px,-35px);
    color: rgb(230, 87, 10);
    font-weight: 600;
    
}
#hol:hover{
    color:rgb(43, 43, 162)
}

#loho{
    text-decoration: none;
    color: black;
}
#loho:hover{
    color: rgb(197, 33, 33);
}

#ra{
  border-radius: 10px;
  border: 1.5px solid red;
   box-shadow: 3px 1px 5px rgb(208, 34, 43);
   height: 10px;
   margin-top: 30px;
   padding-top: 10px;
   text-decoration: none;
}